extends ../layout
block content
    h1.
        Task #{task._id}
    h3.
        #{task.createdAt}
    br
    form(action='/tasks/#{task._id}/edit',method='post',name='updateTask',enctype='application/x-www-form-urlencoded')
        p Name:
            input#inputName(type='text', value='#{task.name}', name='name')
        p Do until:
            input#inputDob(type='date', value='#{task.doUntil}', name='doUntil')
        p
            input(type='hidden',value='PUT',name='_method')
        p
            button#btnSubmit(type='submit').
                Update